{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>МастерПол - Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>

<body>

    <header>
        <div style="background-color: #F4E8D3">
            <h1 class="uk-heading-small" style="color: #67BA80;">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="100" height="100">
                МастерПол - Главная
            </h1>
        </div>
    </header>

    {% for partner in partners %}
    <div class="uk-card uk-card-body" style="background-color: #F4E8D3; margin: 20px; border-radius: 20px; max-width: 1200px; color: #67BA80;
    margin-left: auto; margin-right: auto;">
        <h3 class="uk-card-title" style="color: #67BA80;">{{ partner.partner_type }} | {{ partner.partner_name }}
            <img src="{% static 'images/edit.png' %}" alt="edit" style=" width: 36px; height: 36px; float: right;">
        </h3>
        <p>{{ partner.director }}</p>
        <p>+{{ partner.phone }}</p>
        <p>Рейтинг: {{ partner.rating }}/10</p>
    </div>
    {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit-icons.min.js"></script>
</body>
</html>